
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-app>

  <div ng-controller="MainController">
    <div class="well">
      {{scale.name}} {{scale.quality}}
    </div>
    
    <h4>Staff</h4>
    <div>
      <div class="staff">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
        <div class="line line4"></div>
        <div class="line line5"></div>
        <div ng-repeat="note in scale_notes" class="note note-{{note.name}} octave-{{note.octave}} ">{{note.name}}</div>
      </div>
    </div>
    
    
    <h4>Fretboard</h4>
    <div class="fretboard">
      <div class="string string-c"></div>
      <div class="string string-g"></div>
      <div class="string string-d"></div>
      <div class="string string-a"></div>
      <div class="string string-e"></div>
      
    </div>
    
    
  </div>

</div>





  









